<div class='recipes-wrapper'>
    <h1>Public Recipes</h1>
    <ul>
        <% @recipes.each do |recipe| %>
        <li>
            <div class='recipe-description'> 
                <p> <%= recipe.name %> </p>
                <p>By: <%= recipe.user_name %>
            </div>

            <div class='recipe-info'> 
                <p> <%= recipe. %> </p>
                <p>By: <%= recipe.user_name %>
            </div>
        </li>
        <% end %>
    </ul>
</div>