  <div class="flex items-center justify-center content-center w-full" id="navbar-sticky">
    <ul class="flex gap-4 w-full p-4 justify-around content-center font-medium border border-gray-100 bg-gray-50">
      <li>
        <a href= <%= foods_url %> class="block  text-gray-900">Foods</a>
      </li>
      <li>
        <a href= <%= recipes_url %> class="block text-gray-900">Recipes</a>
      </li>
      <li>
        <a href= <%= public_recipes_url %> class="block text-gray-900">Public Recipes</a>
      </li>
      <li>
        <a href= <%= general_shopping_list_url %> class="block text-gray-900">GSL</a>
      </li>
    </ul>
  </div>
