<ul>
    <li>
        <a href = <%= foods_url %> > Foods </a>
    </li>

    <li>
        <a href = <%= recipes_url %> > Recipes </a>
    </li>

    <li>
        <a href = <%= public_recipes_url %> > Public Recipes </a>
    </li>

    <li>
        <a href = <%= general_shopping_list_url %> > GSL </a>
    </li>
</ul>